<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/favicon.png" type="image/png">
    <script src="js/app.js"></script>
    <script src="/path/to/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>{{$Page.Title}}</title>
</head>

<html>
<body>
    <header>
        <h1 class="title">{{$Page.Title}}</h1>
    </header>

    <nav id="navbar">
        <a href="index.html">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </a>

        <a href="ProjectStructure.html">
            <span class="oi oi-project" aria-hidden="true"></span> Project Structure
        </a>

        <a href="SourceCode.html">
            <span class="oi oi-code" aria-hidden="true"></span> Source Code
        </a>
    </nav>

    <div class="container">
        {{$Page.Content}}
    </div>

    <footer>
        <p>&copy; 2025 {{$Site.Name}} by Realtin. All rights reserved.</p>
    </footer>
</body>
</html>